body{
    background-color: #303130;
}

.navbar{
    margin:0;
}
.navbar-default{
    background-color: #000000;
    border-color:#ff6600;
}
.navbar-default .navbar-nav>li>a{
  color:#ff6600;  
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    color: black;
    background-color: #ff6600;
}